html
  font-size 16px
  &[pos-productos=arriba]
    font-size 20px

letra_grande = 1.4rem
letra_mediana = 1.2rem
letra_chica = 1.1rem

ancho_tipo_precio = 8%
// ancho_tipo_precio = 48px

[pos-productos=arriba]
  .informante-visita
    grid-template-columns 100%
  
.hdr-tr-informante
  border-top 1px solid gray

body
  margin 0px
.informante-visita
  display grid
  padding 0px
  margin 0px
  width 100%
  font-family Roboto, Arial, sans-serif
  border 0px
  grid-template-columns 33% 66%
  .caja-producto
    margin-top 8px
    margin-bottom 8px
    width 100%
    grid-column span 1
    grid-row span 1
    display grid
    grid-template-columns 1fr 24px
    align-self start
    border-top 0.5px solid #ddd
    padding-top 8px
    .producto
      font-weight bold
      font-size letra_mediana
    .observacion
      font-weight bold
      font-size letra_mediana
    .especificacion
      grid-column span 2
      font-size letra_chica
      padding-right 6px
    .comentario-analista
      font-size 0.9rem
  .caja-precios
    display grid
    grid-template-columns 100%
    align-self start
    margin-top 8px
    margin-bottom 8px
    border-top 0.5px solid #ddd
    padding-top 8px
    font-size letra_grande
    vertical-align middle
    padding 2px
    overflow-x hidden
    overflow-wrap break-word
    div
      max-width 100%
      overflow-x hidden
      overflow-wrap break-word
    input
      padding-left 2px 
      width 100%
      font-size 1.4rem
      border 0px solid white
    .encabezado
      display grid
      grid-template-columns 26% 8% 25% 8% 8% 25%
      .observaciones
        grid-template-columns 1fr 24px
        button
          width 60px
          &[tiene-observaciones=si]
            text-align left
            font-size 50%
            overflow hidden
            max-height 40px
            line-height normal
            justify-content flex-start
      .tipoPrecioAnterior
        padding-top 3px
      .precioAnterior
        padding-top 3px
        text-align right
      .flechaTP
        .MuiButton-root
          width 85%
      .tipoPrecio
      .precio
        width 100%
        padding 0px
        text-align right
    .atributos
      display grid
      grid-template-columns 100%
      .MuiButton-root
        width 90%
      display grid
      grid-template-columns 26% 33% 8% 33%
      .nombre-atributo
        font-size letra_mediana
      .atributo-anterior
        vertical-align bottom
      .flechaAtributos
        align-self center
      .atributo-actual
        padding 0px
        width 100%
        vertical-align bottom
      div
        display table-cell
      textarea
        width 100%
        font-size letra_grande
        font-family Roboto, Arial, Helvetica, sans-serif
      div
        margin 2px
    .MuiButton-root
      min-width 16px
      font-size letra_grande 
      min-height 42px
      width 100%
    button
      padding 0px
      margin 0px
      text-align center
    [button-container]
      padding 0px
    table-layout fixed
    grid-column span 1
    grid-row span 1
    width 100%
.hoja-ruta
  td
    font-size letra_grande
    padding 6px
    .direccion-informante
      font-size letra_mediana
  .boton-ir-formulario
    span.MuiButton-label
      text-transform none
      justify-content space-between
      span
        font-size 1.2rem
        justify-content left
        text-align left
      span.special-right
        justify-content right
.flecha-volver-hdr
  width 60px

main
  padding 60px 0

.placeholder
  color #3f51b5

.menu-informante-visita
  .razon-formulario
    font-size letra_mediana
  div
    &[puede-editar=yes]
      height 40px
    &[es-repregunta=yes]
      svg
        color #3db09c
        font-size 3rem
        vertical-align middle
        width 100%
        padding-right 8%
  .MuiButton-contained.Mui-disabled
    background-color #e0e0e0
  #buscar
    .MuiInputBase-input::placeholder
      color #fff
    .MuiInputBase-input
      color #fff
  .MuiGrid-root
    margin-left 10px
  .MuiListItemIcon-root
    font-size letra_grande
  .MuiButton-root
    text-transform none
  .MuiList-root
    .MuiButtonBase-root
      min-height 60px
      border-top 1px solid #ddd

.zona-degrade
  border-top 0.5px solid #ddd
  padding-top 8px
  grid-column span 2
  *
    &:nth-child(1)
      color #777
    &:nth-child(2)
      color #888
    &:nth-child(3)
      color #999
    &:nth-child(4)
      color #aaa
    &:nth-child(5)
      color #bbb
    &:nth-child(6)
      color #ccc
    &:nth-child(7)
      color #ddd
    color #eee
  svg
    vertical-align middle

.titulo-pendientes, .titulo-advertencias
  svg
    vertical-align middle

.boton-hay-mas
  min-width 300px

.razon-formulario
  tr
    td
      width 50%
    td:first-child
      width 60px

.boton-seleccionado-todos span svg path
  color blue

.boton-seleccionado-pendientes span svg path
  color red

.boton-seleccionado-advertencias span svg path
  color orange


