html 
  font-size 16px

letra_grande = 1.4rem
letra_mediana = 1.2rem
letra_chica = 1rem

ancho_tipo_precio = 8%
// ancho_tipo_precio = 48px

body
  margin 0px
.informante-visita
  display grid
  padding 0px
  margin 0px
  width 100%
  font-family Roboto, Arial, sans-serif
  border 0px
  &[pos-productos=arriba]
    grid-template-columns 100%
  &[pos-productos=izquierda]
    grid-template-columns 33% 66%
  .caja-producto
    width 100%
    grid-column span 1
    grid-row span 1
    display grid
    grid-template-columns 1fr 24px
    align-self start
    .producto
      font-weight bold
      font-size letra_mediana
    .observacion
      font-weight bold
      font-size letra_mediana
    .especificacion
      grid-column span 2
      font-size letra_chica
  .caja-precios
    .MuiButton-root
      min-width 16px
      font-size letra_grande 
      text-transform auto
      line-height 1.1
    .tipoPrecio
      button
        width 100%
    button
      padding 0px
      margin 0px
      vertical-align middle
      text-align center
    [button-container]
      padding 0px
    table-layout fixed
    grid-column span 1
    grid-row span 1
    width 100%
    .nombre-atributo
      font-size letra_chica
    td, th
      font-size letra_grande
      &[puede-editar=yes]
        border 1px solid #3f51b5
        div
          min-height 26px
      padding 2px
      overflow-x hidden
      overflow-wrap break-word
      div
        max-width 100%
        overflow-x hidden
        overflow-wrap break-word
      vertical-align top
      .flechaAtributos
        vertical-align middle
      input
        padding-left 2px 
        width 100%
        font-size 100%
        border 0px solid white
    .atributo-actual
      padding 0px
      width 120px
      textarea
        width 100%
        height 100%
        font-size letra_grande
        font-family Roboto, Arial, Helvetica, sans-serif
    .tipoPrecio
      width 20px
    .precioAnterior
      text-align right
    .precio
      width 100px
      padding 0px
      text-align right
      div
        margin 2px
