#imp-form
    h1
        color green
    [class^=seccion]
        display inline-block
        border 1px solid green 
        margin 4px
        padding 3px
    .seccion-producto-precio
        display block