*   {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    }

table, th, td {
    border: 1px solid rgb(196, 196, 196);
    Border-collapse: collapse;
    }

tbody{
    border-style: solid;
    }

table {
    table-layout:unset
    }

body {
    padding-left: 30px;  
    font-size: 120%;
    /*font-family: arial, sans-serif;*/
    }

input {
    font-size: 100%;
    }

td {
    padding: 8px;
    word-wrap: break-word;
    white-space: normal;
    max-width: 200px;
    font-size: 15px;
    }

.formtd input {
    width: 200px;
    }

.logintableImgRow {
    display: none;
    }

.iconostd {
    display: none;
    }

#loginFormRightImg {
    height: 120px;
    }

.container-plan {
    display: flex;
    }

.container-fecha-1 {
    margin-left: 8px;
    margin-right: 24px;
    }

.container-fecha-2 {
    margin-left: 8px;
    margin-right: 8px;
    }

.container-encuestador {
    margin-left: 8px;
    margin-right: 8px;
    }

.titulos-plan {
    font-weight: bold;
    }

@media print{
  td {
    font-size: 10px;
    }
  body {
    padding-left: 0px;
    }

    }



