body
  margin 0px
.formulario-precios
  margin 0px
  width 768px
  font-size 1.6em
  font-family Arial, sans-serif
  border 1px solid gray 
  border-collapse collapse
  border-spacing 0
  thead
    tr:nth-of-type(1)
      th
        box-shadow inset 0 1px 0 gray, inset 0 -1px 0 gray
    th
      position sticky
      background-color #DDD
      border 0px solid white
      box-shadow inset 0 -1px 0 gray
  td, th
    border 1px solid gray 
    padding 2px
    vertical-align top
    .flechaAtributos
      vertical-align middle
    input
      padding-left 2px 
      width 100%
      font-size 100%
      border 0px solid white
  .atributo-actual
    padding 0px
    width 120px
  .tipoPrecio
    width 20px
  .precioAnterior
    text-align right
  .precio
    width 100px
    padding 0px
    text-align right
    div
      margin 2px
  .producto
    font-weight bold
  .especificacion
    font-size 90%
  .col-prod-esp
    width 300px